<% if season.poster_processing? %>
  <p id="season_poster_<%= season.id %>" class="processing">
    <%= link_to image_tag("ajax-loader-2.gif", :style => "border: 1px solid #DEDEDE;"), 
                show_season_path(:show_id => season.series.id, :season_number => season.number) %>
    <script type="text/javascript">

      $(document).ready(function(){
        var posterId = "season_poster_<%= season.id %>";
        var getPosterSeasonPath = "<%= get_poster_season_path(season, :size => 'small') %>";
        updateProcessingElements(null, "#" + posterId + ".processing", getPosterSeasonPath);
      });

    </script>
  </p>
<% else %>
  <p id="season_poster_<%= season.id %>">
    <%= link_to image_tag(season.poster.url(:small), :style => "border: 1px solid #DEDEDE;"), 
                show_season_path(:show_id => season.series.id, :season_number => season.number) %>
  </p>
<% end %>