<% activity_data = JSON.parse(activity.data) %>
<div class="bubble user-activity">
  <blockquote>
    <div class="actor-avatar">
      <%= image_tag(activity.actor_img) %>
    </div>
    <div class="activity" style="width:90%">
      <div class="activity-content">
        <%= link_to(content_tag(:span, activity.actor_name), activity.actor_path) %>
        wrote a <%= link_to 'comment', activity.subject_path %> about <%= link_to activity_data['commented_name'], activity_data['commented_path'] %><br />
        <p><%= activity_data["content"] %></p> 
      </div>
      <p class="activity-time" title="<%= l activity.created_at, :format => :dmy_with_long_month %>"><%= activity.created_at.to_pretty %></p>
    </div>
    <div class="clear"></div>
  </blockquote>
</div>