<style>
  .announcement { border:1px solid #CCC; padding:10px; }
  .announcement p {
    font: normal normal bold 1.5em/normal Arial, sans-serif;
    margin: 0px;
    padding: 0px;
  }
  
  .announcement p.text { text-align:center; }
  
  #announcement_demo { margin:30px 0px; }
  #announcement_demo div.announcement-demo { float:left; margin-right:15px; width:300px; }
  #announcement_demo div.announcement-demo p { font-weight:bold; text-align:center; }
</style>
<div id="announcement" class="announcement">
  <p class="text">
    8PM.TV is a social network for TV Shows watchers
  </p>
</div>

<div id="announcement_demo">
  <div id="annoucement_1" class="announcement-demo">
    <%= image_tag "demo_2.png", :width => "300px" %>
    <p>Follow series you like</p>
  </div>
  <div id="annoucement_1" class="announcement-demo">
    <%= image_tag "demo_1.png", :width => "300px" %>
    <p>Be aware of the series updates</p>
  </div>
  <div id="annoucement_2" class="announcement-demo">
    <%= image_tag "demo_1.png", :width => "300px" %>
    <p>Check your friends activity</p>
  </div>
  <div class="clear"></div>
</div>

<div class="announcement" style="margin-bottom:30px">
  <p class="text">
    ... and many more features! It's free! Just <%= link_to "SIGN UP", new_user_registration_path %> and join the <%= link_to "community", users_path %>
  </p>
</div>

<div class="left_articles">
  <div class="buttons">
	  <p>
	    <%= link_to "See all" %>
	  </p>
	</div>
	<h3>What's hot? - The 10 most followed series</h3>
	<div>
	  <%= render :partial => "shows/series_list", :locals => { :series => @most_followed_series.limit(10) } %>
	</div>
</div>

<div class="left_articles">
  <div class="buttons">
	  <p>
	    <%= link_to "See all" %>
	  </p>
	</div>
	<h3>What's new? - The 10 last updated series</h3>
	<div id="series-updated">
	  <%= render :partial => "shows/series_list", :locals => { :series => @last_updated_series.limit(10) } %>
	</div>
</div>

<% if @last_activities.size > 0 %>
<div class="left_articles">
	<h3>What's happening?</h3>
	<div class="bubble">
	  <blockquote>
    	<% @last_activities.each do |activity| %>
        <p><%= render_activity_title(activity) %></p>
      <% end %>
    <blockquoite>
  </div>
</div>
<% end %>