<script type="text/javascript">
  $(function(){
    $("#friends_switcher").click(function(){
      $("#activities_switcher").find('li').removeClass('selected');
      $(this).parent('li').addClass('selected');
      $(".series-activity:visible").fadeOut();
      $(".user-activity:hidden").fadeIn();
      return false;
    });
    $("#series_switcher").click(function(){
      $("#activities_switcher").find('li').removeClass('selected');
      $(this).parent('li').addClass('selected');
      $(".user-activity:visible").fadeOut();
      $(".series-activity:hidden").fadeIn();
      return false;
    });
    $("#all_switcher").click(function(){
      $("#activities_switcher").find('li').removeClass('selected');
      $(this).parent('li').addClass('selected');
      $(".user-activity:hidden").fadeIn();
      $(".series-activity:hidden").fadeIn();
      return false;
    });
  });
</script>
<div id="activities_switcher">
  <ul>
    <li class="selected"><%= link_to "All", "#", :id => "all_switcher" %></li>
    <li><%= link_to "Friends", "#", :id => "friends_switcher" %></li>
    <li><%= link_to "Series", "#", :id => "series_switcher" %></li>
  </ul>
</div>
<div id="activities">
  <% if @activities.count > 0 %>
    <% @activities.each do |activity| %>
      <%= render :partial => "activity_#{activity.kind}", :locals => { :activity => activity } %>
    <% end %>
  <% else %>
  <p style="margin: 20px 0px;text-align:center">
    No activity for the moment. <br />
    Follow <%= link_to 'people', users_path %> or <%= link_to 'series', shows_path %> to keep this page full!
  </p>
  <% end %>
</div>

<% if @today_episodes.size > 0 || @week_episodes.size > 0 %>
  <% content_for :right do %>
  <div id="right">
  	<div class="boxtop" style="margin-top:30px"></div>
  	<div class="box">
  		<p class="title">What's on TV today?</p>
		  <ul style="margin-bottom:10px">
		    <% @today_episodes.each do |episode| %>
		    <li>
		        <%= link_to(content_tag(:span, episode.full_name), 
		                    show_season_episode_path(:show_id => episode.series,
		                                             :season_number => episode.season.number,
                                                 :episode_number => episode.number)) %>
		    </li>
		    <% end %>
		  </ul>
		  <div class="clear"></div>
  	</div>
  	
  	<div class="boxtop"></div>
  	<div class="box">
  		<p class="title">This week</p>
  		<% @week_episodes.sort.each do |day, episodes| %>
  		<p><%= l day, :format => :day %>:</p>
		  <ul style="margin-bottom:10px">
		    <% episodes.each do |episode|  %>
		    <li>
		        <%= link_to(content_tag(:span, episode.full_name), 
		                    show_season_episode_path(:show_id => episode.series,
		                                             :season_number => episode.season.number,
                                                 :episode_number => episode.number)) %>
		    </li>
		    <% end %>
		  </ul>
  		<% end %>
		  <div class="clear"></div>
  	</div>
  </div>
  <% end %>
<% end %>