<div id="activities">
  <% if @activities.count > 0 %>
    <% @activities.each do |activity| %>
    <div class="bubble">
      <blockquote>
        <div class="actor-avatar">
          <%= image_tag(activity.actor_img) %>
        </div>
        <div style="activity">
          <div class="activity-content">
            <%= render_activity(activity) %>
          </div>
          <p style="font-style:italic" class="activity-time"><%= activity.created_at.to_pretty %></p>
        </div>
        <div class="clear"></div>
      </blockquote>
    </div>
    <% end %>
  <% else %>
  <p style="margin: 20px 0px;text-align:center">
    No activity for the moment. <br />
    Follow <%= link_to 'people', users_path %> or <%= link_to 'series', shows_path %> to keep this page full!
  </p>
  <% end %>
</div>
