<div id="login-frame">
  <div id="standard-login">
    <%= debug flash %>
    <div class="boxtop"></div>
    <div class="box">
      <p class="title"><b>Standard sign in</b></p>
      <%= form_for(resource, :as => resource_name, 
                   :url => session_path(resource_name)) do |f| %>
        <p style="margin-bottom:10px"><%= f.label :login, "Username or e-mail address" %><br /> <%= f.text_field :login %></p>
        <p style="margin-bottom:10px">
          <%= f.label :password %><br />
          <%= f.password_field :password %><br />
          <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
        </p>

        <% if devise_mapping.rememberable? -%>
          <p style="margin-bottom:10px">
            <%= f.check_box :remember_me %> <%= f.label :remember_me %><br />
          </p>
        <% end -%>
        <p style="margin-bottom:10px"><%= f.submit "Sign in" %></p>
      <% end %>

      <p><%= render :partial => "devise/shared/links" %></p>
    </div>
  </div>
  <div id="services-login">
    <div class="boxtop"></div>
    <div class="box">
      <p class="title"><b>Connect with your social account</b></h2>
      <div id="my-authentications">
        <div class="auth-method">
          <%= link_to (image_tag "twitter_connect.gif"), "/auth/twitter" %>
        </div>
        <div class="auth-method" style="margin-top:10px">
          <%= link_to (image_tag "facebook_connect.gif"), "/auth/facebook" %>
        </div>
      </div>
    </div>      
  </div>
  <div class="clear"></div>
</div>
