<%#= render :partial => "user", :collection => @users %>
<% if (users = @users.find_all { |u| !u.name.downcase.match(/^[^a-z]/).nil? }).size > 0 %>
  <div class="left_articles">
    <h2>#</h2>
  	<p class="description"><%= link_to "See all (#{users.size})", name_users_path(:l => l) %></p>
  	<div id="users-#" class="users_list">
  	  <% users.each do |user| %>
  	  <div style="width:128px">
        <%= image_tag(user.avatar_url(:thumb), :class => "poster thumbnail") %><br />
        <span style="margin:0px;text-align:center"><%= link_to user.name, user %></span>
      </div>
      <% end %>
  	  <div class="clear"></div>
    </div>
  </div>
<% end %>

<% ('a'..'z').each do |l| %>
  <% if (users = @users.find_all { |u| u.name.downcase.starts_with?(l) }).size > 0 %>
    <div class="left_articles">
      <h2><%= l.upcase %></h2>
    	<p class="description"><%= link_to "See all (#{users.size})", name_users_path(:l => l) %></p>
    	<div id="users-#" class="users_list">
    	  <% users.each do |user| %>
    	  <div style="width:128px">
          <%= link_to(image_tag(user.avatar_url(:thumb), :class => "poster thumbnail"), user) %><br />
          <span style="margin:0px;text-align:center"><%= link_to user.name, user %></span>
        </div>
        <% end %>
    	  <div class="clear"></div>
      </div>
    </div>
  <% end %>
<% end %>