<div class="left_articles">
  <div class="buttons">
	  <p><%= follow_link(@user) %></p>
	</div>
  <h2><%= @user.name %></h2>
	<p class="description">Joined 8PM.TV community on <%= (l @user.created_at.to_date, :format => :dmy_with_long_month) %></p>
	<div id="user-<%= @user.id %>" class="user_info">
  	<div>
      <%= image_tag(@user.avatar_url(:medium), :class => "thumbnail") %>
      <% if !@user.following_users.size.zero? %>
      <div id="user_followings">
        <p class="title">
          Following:
        </p>
        <% @user.following_users.limit(10).each do |following| %>
          <p class="fw-info">
            <%= link_to(image_tag(following.avatar_url(:thumb)), following) %><br />
            <%= link_to following.name, following %>
          </p>
        <% end %>
        <div class="clear"></div>
      </div>
      <% end %>
      <% if !@user.users_followers.size.zero? %>
      <div id="user_followers">
        <p class="title">Followers:</p>
        <% @user.users_followers.limit(10).each do |follower| %>
          <p class="fw-info">
            <%= link_to((image_tag(follower.avatar_url(:thumb))), follower) %><br />
            <%= link_to follower.name, follower %>
          </p>
        <% end %>
        <div class="clear"></div>
      </div>
      <% end %>
  	</div>
  	<div class="clear"></div>
  </div>
</div>

<div class="left_articles">
  <h2>Following:</h2>
  <p class="description"><%= pluralize(@user.series.size, "serie") %></p>
  <div id="user_series_following">
    <%= render :partial => "shows/series_list", :locals => { :series => @user.series.order("name")} %>
  </div>
</div>