<div id="avatar_settings"  class="settings_block" style="display:none">
  <h3>Your profile picture</h3>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :multipart => true }) do |f| %>
    <%= devise_error_messages! %>
  
  <div id="my_avatar">
    <p class="title">Use my own image</p>
    <div class="avatar_photo" style="margin-right:30px">
      <div class="img"><%= image_tag(resource.photo.url(:medium))%></div>
      <p>Medium size</p>
    </div>
    <div class="avatar_photo">
      <div class="img"><%= image_tag(resource.photo.url(:thumb))%></div>
      <p>Thumb</p>
    </div>
    <div class="clear"></div>
    <p>
      Your profile picture must be <b>JPG</b>, <b>JPEG</b> or <b>PNG</b> and not larger than <b>2MB</b>.
      It will be cropped to a size of <b>128x128px</b> and <b>48x48px</b>.
    </p>
    <p><%= f.file_field :photo %></p>
  </div>
  
  <div id="my_avatar">
    <p class="title">Gravatar</p>
    <div class="avatar_photo" style="margin-right:30px">
      <div class="img"><%= image_tag(resource.gravatar_url(:medium))%></div>
      <p>Medium size</p>
    </div>
    <div class="avatar_photo">
      <div class="img"><%= image_tag(resource.gravatar_url(:thumb))%></div>
      <p>Thumb</p>
    </div>
    <div class="clear"></div>
  </div>
  <p><%= f.submit "Update" %></p>
  <% end %>
</div>