<script type="text/javascript">
  $(document).ready(function(){
    $("#settings_tabs li").click(function(){
      $(this).parent().find('li').removeClass('selected');
      $('.settings_block').hide();
      $(this).addClass('selected');
      $($(this).attr('ref')).show();
      return false;
    });
  });
</script>

<div id="settings_options">
  <div id="settings_photo">
    <span>
    <%= image_tag(current_user.avatar_url(:medium)) %>
    </span>
  </div>
  <ul id="settings_tabs">
    <li ref="#account_settings" class="selected">Account</li>
    <li ref="#email_settings">E-mail</li>
    <li ref="#social_settings">Connections</li>
    <li ref="#avatar_settings">Profile picture</li>
  </ul>      
</div>

<div id="settings">
  <%= render "account" %>
  <%= render "email" %>
  <%= render "social" %>
  <%= render "avatar" %>
  <div class="clear"></div>
</div>

