<script type="text/javascript">
  $(function(){
    $('.field_with_errors').tipsy(
      {
        html: true,
        gravity: "w",
        title: function(){
                return $("#" + $(this).children(':input').attr('id') + "_tip").html();
               },
      });
  });
</script>
<%= form_for(resource, :as => resource_name,
             :url => registration_path(resource_name)) do |f| %>
<div id="signup-frame" style="margin:0 auto;width:295px">
  <div class="boxtop"></div>
  <div class="box">
    <p class="title">Sign up</p>
      <div class="fields">
        <p>
          <%= f.label :username %><br />
          <%= f.text_field :username %>
        </p>
        <%= error_explanation_tag(resource, :username, resource_name) %>

        <p><%= f.label :email %><br />
        <%= f.text_field :email %></p>
        <%= error_explanation_tag(resource, :email, resource_name) %>

        <% if @user.password_required? %>
          <p><%= f.label :password %><br />
          <%= f.password_field :password %></p>
          <%= error_explanation_tag(resource, :password, resource_name) %>

          <p><%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation %></p>
          <%= error_explanation_tag(resource, :password_confirmation, resource_name) %>
        <% end %>
      </div>
      <% unless @user.authentications.first.nil? %>
      <div class="connection">
        <div style="">
          <p style="float:left;margin-top:60px">
            <%= t ".Registering with" %>:
          </p>
          <p class="backg-twitter-32 social-button"
             style="float:left;margin-top:50px;margin-left:10px">
            <%= @user.authentications.first.provider.capitalize %>
            &nbsp;-&nbsp;<%= link_to "Cancel", "cancel_omniauth" %>
          </p>
          <div class="clear"></div>
        </div>
      </div>
      <% end %>
      <div class="clear"></div>
      <p style="text-align:center"><%= f.submit "Sign up" %></p>

    <p><%= render :partial => "devise/shared/links" %></p>
  </div>
</div>
<% end %>
