<div class="bubble">
  <a name="comment-<%= comment.id %>"></a>
	<blockquote>
		<p class="comment-content"><%= comment.content %></p>
		<%= render :partial => "shared/comment_votes", :locals => { :comment => comment } %>
		<div style="clear:both"></div>
	</blockquote>
	<cite>
    <%= image_tag(comment_avatar_url(comment), :width => "32px") %>
	  <p style="display:inline-block;margin:0px">
  	  <strong><%= comment.user.nil? ? "Anonymous" : comment.user.username %></strong>
  	  &nbsp;&middot;&nbsp;<%= comment.created_at.to_pretty %><br />
  	  <%= link_to "Reply" %>
  	</p>
	</cite>
</div>
