<div class="bubble">
  <a name="comment-<%= comment.id %>"></a>
	<blockquote>
		<p class="comment-content"><%= comment.content %></p>
		<p class="comment-options" id="comment_options_<%= comment.id %>" style="display:none">
		  <%= render :partial => "shared/comment_votes", :locals => { :comment => comment } %>
		</p>
		<div style="clear:both"></div>
	</blockquote>
	<cite>
    <%= image_tag comment.user.avatar_url, :width => "32px" %>
	  <p style="display:inline-block;margin:0px">
  	  <strong><%= comment.user.username %></strong>&nbsp;&middot;&nbsp;<%= comment.created_at.to_pretty %><br />
  	  <%= link_to "Reply" %>
  	</p>
	</cite>
</div>
