<script type="text/javascript">
$(function(){
  $(".buttons form input[type=radio]").change(function(){
    console.info($(this).closest('form'));
    alert("form submitted");
    $(this).closest('form').submit();
  }).rating();
});
</script>
<%= form_tag rate_episode_path(episode), :remote => true, :style => "margin-right:5px", :id => "ratings_form" do %>
  <% 5.times do |i| %>
  <%= radio_button_tag("episode_rate", i + 1, current_user.rating_for(episode) == i + 1, :class => "rate") %>
  <% if notice %>
  <span style="display:none">
    <%= notice %>
  </div>
  <% end %>
  <% end %>
<% end %>
<% if episode.ratings.count > 0 %>
<span>
  (<%= episode.ratings.inject(0){ |sum, e| sum + e.value }.to_f/episode.ratings.count %>/5 - <%= pluralize episode.ratings.count, 'rating' %>)
</span>
<% end %>