<% content_for :html_tags do %>
 xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml"
<% end %>
<script>
  var posterIntervalID = null;
  var getPosterPath = "<%= get_poster_episode_path(@episode)%>";
  $(document).ready(function(){
    updateProcessingElements(posterIntervalID, "#poster.processing", getPosterPath);
    $(".buttons a").tipsy({gravity: 's'});
  });
</script>
<style>
  div.buttons { padding-top:0px; }
</style>
<div class="left_articles">
  <div class="buttons">
    <div style="margin-top:0px;width:400px">
      <%= render :partial => "ratings", :locals => { :episode => @episode } %>
	    <div id="comments_button" style="display:inline-block">
	      <%= link_to "Comments (#{@episode.comments.count})", :anchor => "comments" %>
	    </div>
      <% if @episode.previous %>
      <div id="prev_episode_button" style="display:inline-block">
      <%= link_to "Previous episode", show_season_episode_path_(@episode.previous), :title => @episode.previous.full_name %>
      </div>
      <% end %>
      <% if @episode.next %>
      <div id="next_episode_button" style="display:inline-block">
        <%= link_to "Next episode", show_season_episode_path_(@episode.next), :title => @episode.next.full_name %>
      </div>
      <% end %>
    </div>
  </div>
  <h2>
    <%= link_to "#{@episode.series.full_name}", show_path(@episode.series) %>
    <%= link_to "S#{@episode.season.number.to_s.rjust(2, "0")}", show_season_path(:season_number => @episode.season.number, :show_id => @episode.series) %><%= "E#{@episode.number.to_s.rjust(2, "0")}" %> - <%= @episode.name %>
  </h2>
	<p class="description"><%= aired_on(@episode.first_aired, @episode.series.air_time) %></p>
	<div id="episode-<%= @episode.id %>" class="episode_info">
  	<div>
      <%= render "poster" %>
      <% if @episode.available? %>
        <div>
          <% description = truncate(@episode.description, 795, "") %>
          <% if @episode.description.blank? %>
            <p style="padding-top:60px;text-align:center">The description is not available yet.</p>
          <% else %>
            <%= description %>
            <% if @episode.description.length > description.length %>
              <%= link_to_function("...", "showMoreDescription(this);") %>
              <span style="display:none">
                <%= @episode.description[(description.length)..-1] %>
              </span>
            <% end %>
          <% end %>
        </div>
        <%= facebook_like_button(show_season_episode_url_(@episode)) %>
        <% content_for :meta_tags do %>
          <meta property="og:title" content="<%= @episode.full_name %>" />
          <meta property="og:type" content="tv_show" />
          <meta property="og:url" content="<%= show_season_episode_url_(@episode) %>" />
          <meta property="og:image" content="<%= @episode.poster.url(:medium) %>" />
          <meta property="og:site_name" content="8PM.TV" />
          <meta property="fb:admins" content="663974483" />
        <% end %>
      <% end %>
  	</div>
  	<div class="clear"></div>
  </div>
</div>

<%= render :partial => "shared/comments", :locals => { :comment_path => comment_episode_path(@episode), :comments => @episode.comments }%>

