<% 
  season = season_my if season.nil?
  season_seen = current_user.has_watched?(season)
%>
<% unless season.episodes.size.zero? %>
  <div id="season_<%= season.number %>" class="season-info">
    <div class="season-title">
      <div class="name">
        <% if user_signed_in? %>
        <%= render :partial => "shows/season_check_my", :locals => { :season => season } %> &nbsp;
        <% end %>
        <%= link_to "Season #{season.number}", "#", :class => "season-link" %>
      </div>
    </div>
    <div class="season-episodes slidable" style="display:none;">
        <% for episode in season.episodes %>
        <div id="my_episode_<%= episode.id %>" class="my-episode my-episode-<%= cycle 'even', 'odd' %>">
          <div class="episode-title">
            <div class="name">
              <% if user_signed_in? %>
              <%= render :partial => "shows/episode_check_my", :locals => { :episode => episode } %>&nbsp;
              <% end %>
              <%= link_to episode.full_name, show_season_episode_path_(episode), :class => "episode-link" %>
            </div>
            <div class="air-time"><%= l episode.first_aired, :format => :dmy_with_long_month %></div>
            <div class="clear"></div>
          </div>

          <div style="display:none;margin:10px 0px" class="slidable">
            <%= link_to (image_tag episode.poster.url(:small), :class => "thumbnail description-added"), show_season_episode_path_(episode) %>
            <%= link_to episode.name, show_season_episode_path_(episode), :class => "episode-title" %>
            <div>
              <% if !current_user.has_watched?(episode) %>
                <span id="episode-<%= episode.id %>-description" style="display:none">
                  <%= episode.description %>
                </span>
                <p style="text-align:center">
                  <%= link_to_function "Show description", "$('#episode-#{episode.id}-description').show();$(this).hide();" %>
                </p>
              <% else %>
                <span id="episode-<%= episode.id %>-description">
                  <%= episode.description %>
                </span>
              <% end %>
            </div>
            <div class="clear"></div>
          </div>
        </div>
        <% end %>
    </div>
  </div>
<% end %>