<%= render "series_categories" %>

<% if @series.size > 0 %>
<div id="series_found">
  <h3><%= (t '.series_letter') %> <%= params[:letter] %> - <%= @series.size %> series <%= t '.found' %></h3>
  <ul>
  <% @series.each do |serie| %>
    <li>
      <div>
        <div class="series_poster">
          <%= link_to (image_tag serie.poster.url(:small)), show_path(serie) %>
        </div>
        <p><%= link_to serie.full_name, show_path(serie) %></p>
      </div>
    </li>
  <% end %>
  </ul>
</div>
<% end %>