<h1><%= t '.title' %></h1>
<div id="series_initials">
  <ul>
    <li class="first"><%= link_to "#", shows_path(:letter => "0" ) %></li>
    <%= az_shows_initials %>
  </ul>
</div>

<% if @series.size > 0 %>
<div id="series_found">
  <h3><%= (t '.series_letter') %> <%= params[:letter] %> - <%= @series.size %> series <%= t '.found' %></h3>
  <ul>
  <% @series.each do |serie| %>
    <li>
      <div>
        <div class="series_poster">
          <%= link_to (image_tag serie.poster.url(:small)), show_path(serie) %>
        </div>
        <p><%= link_to serie.name, show_path(serie) %></p>
      </div>
    </li>
  <% end %>
  </ul>
</div>
<% end %>