<%= render "series_categories" %>
<% for show in @shows %>
<div class="left_articles">
	<div id="series_info">
	  <h2><%= show.full_name %></h2>
  	<p class="description">
  	  <%= people_watching_except_you(show) %>
  	</p>
  	<p>
      <%= image_tag show.poster.url(:small), :class => "thumbnail" %>
      <div id="latest_episodes_<%= show.id %>">
        <p class="title">Last episodes:</p>
        <div class="latest_episodes">
          <% show.episodes.available.last(3).each do |episode| %>
            <div class="last_episode">
              <%= link_to (image_tag(episode.poster.url(:small)) + content_tag(:span, episode.full_name, :style => "display:block")),
                          show_season_episode_path(:show_id => episode.series, :season_number => episode.season.number, :episode_number => episode.number) %>
            </div>
          <% end %>
          <div class="clear"></div>
        </div>
      </div>
  	</p>
  	<div style="clear:both"></div>
  </div>
</div>
<% end %>