<%= render "series_categories" %>
<% for show in @shows %>
<div class="left_articles">
	<div class="buttons">
	  <p>
	    <a href="#" class="bluebtn">Watc</a>&nbsp;
	    <a href="#" class="greenbtn">Remove</a>
	  </p>
	</div>
	<div id="series_info">
	  <h2><%= show.name %></h2>
  	<p class="description">
  	  <%= people_watching(show) %>
  	</p>
  	<p>
  	  <% if show.poster? %>
        <%= image_tag show.poster.url(:small), :class => "thumbnail" %>
      <% end %>
      <div>
        <% description = truncate(show.description, 795, "") %>
        <%= description %>
        <% if show.description.length > description.length %>
          <%= link_to_function("...", "showMoreDescription(this);") %>
          <span style="display:none">
            <%= show.description[(description.length)..-1] %>
          </span>
        <% end %>
      </div>
      <div>
        <span class="label"><%= t '.air_time'%>:</span>
        <%= show.air_day %> <%= t '.at' %>
        <%= show.air_time %> (<%= show.runtime %> mn)
      </div>
  	</p>
  	<div style="clear:both"></div>
  </div>
</div>
<% end %>