<script type="text/javascript">
  $(document).ready(function(){
    $("#series-list-name .serie").hover(
      function(){
        $(this).addClass('serie-hovered');
      },
      function(){
        $(this).removeClass('serie-hovered');
      });
  });
</script>
<%= render "series_categories" %>
<div id="series_initials">
  <ul id="navlist">
    <% if params[:letter] %>
      <li class="first">
    <% else %>
      <li class="first selected">
    <% end %>
    <%= link_to "#", name_shows_path %></li>
    <%= az_shows_initials(params[:letter]) %>
  </ul>
  
  <div id="series-list-name">
    <% for show in @series %>
    	<div id="series-<%= show.id %>" class="serie">
      	<p style="text-align:center">
          <span class="title"><%= link_to show.name, show_path(show) %></span>
      	  <% if show.poster? %>
            <%= link_to(image_tag(show.poster.url(:small), :style => "border:1px solid #dedede"), show_path(show)) %>
          <% end %>
      	</p>
      </div>
    <% end %>
  	<div style="clear:both"></div>
  </div>
</div>