<h1>Here is what I found for "<%= params[:q] %>":</h1>
<div id="series_results">
  <% for serie in @series %>
  <div class="series" id="series_<%= serie['id'] %>">
    <div class="poster">
      <% unless serie["banner"].nil? %>
        <%= image_tag(serie["banner"])%>
      <% end %>
    </div>
    <div class="content">
      <h2 class="title"><%= link_to serie["SeriesName"], serie["Link"] %></h2>
      <p class="content"><%= serie["Overview"] %></p>
    </div>
    <div style="clear:left"></div>
  </div>
  <% end %>
</div>