<script type="text/javascript">
  $(document).ready(function(){
    $("#add_to_list_link,#remove_from_list_link").bind('ajax:loading',
      function(){
        $('#wait_spinner').show();
    });
  });
</script>

<h1><%= @series.name %></h1>

<div id="series_avatar">
  <div>
    <% if @series.poster? %>
      <%= image_tag @series.poster.url(:medium) %>
    <% end %>
  </div>
  <div id="series_bar" style="">
    <ul>
      <li>
        <%= render :partial => (@subscription.nil? ? "link_add" : "link_rm"),
                   :locals => { :series => @series }
        %>
      </li>
      <li><%= link_to (t '.comments'), '#', :class => :comments %></li>
    </ul>
  </div>
</div>

<div id="series_info">
  <p id="series_overview"><%= @series.description %></p>
  <% if !@series.actors.size.zero? %>
  <div id="series_actors">
    <h3><%= t '.actors' %></h3>
    <ul>
    <% @series.roles.limit(12).each do |role| %>
      <li>
        <%= link_to role.name, show_actor_path(@series, role) %><br />
        (<%= link_to role.actor.name, actor_path(role.actor) %>)
      </li>
    <% end %>
    </ul>
    <div>
      <p style="margin-top:20px; text-align:right">
        <% if @series.roles.size > 12 %>
          <%= "and #{@series.roles.size - 12} more"  %>
        <% end -%>
        <%= link_to "See all actors", show_actors_path(@series) %>
      </p>
    </div>
  </div>
  <% end %>
  <div id="series_details">
    <p>
      <span class="label"><%= t '.air_time'%>:</span>
      <%= @series.air_day %> <%= t '.at' %>
      <%= @series.air_time %> (<%= @series.runtime %> mn)
    </p>
  </div>
</div>
<div style="clear:left"></div>

<%= render :partial => "activity", :locals => { :series => @series } if current_user && @subscription %>
