<script type="text/javascript">
  function toggleLoading(from)
  {
    $("#ajax-loader").toggle();
  }
  var getSeasonsPath = "<%= get_seasons_show_path(@series) %>";
  var getPosterPath = "<%= get_poster_show_path(@series) %>";
  var posterIntervalID = null;
  var seasonsIntervalID = null;
  
  $(document).ready(function(){
    updateProcessingElements(posterIntervalID, "#poster.processing", getPosterPath);
    updateProcessingElements(seasonsIntervalID, "#series_seasons.processing", getSeasonsPath);   
  });
</script>

<div class="left_articles">
	<div id="series-<%= @series.id %>" class="series_info">
	  <h2><%= @series.name %></h2>
  	<p class="description">
  	  <%= people_watching(@series) %>
  	</p>
  	<div>
      <%= render "poster" %>
      <div>
        <% description = truncate(@series.description, 795, "") %>
        <%= description %>
        <% if @series.description.length > description.length %>
          <%= link_to_function("...", "showMoreDescription(this);") %>
          <span style="display:none">
            <%= @series.description[(description.length)..-1] %>
          </span>
        <% end %>
      </div>
      <div>
        <span class="label"><%= t '.air_time'%>:</span>
        <%= @series.air_day %> <%= t '.at' %>
        <%= @series.air_time %> (<%= @series.runtime %> mn)
      </div>
      <div>
        <span class="label">Genres:</span>
        <% for genre in @series.genres %>
          <%= link_to genre.name, shows_genre_path(genre) %>&nbsp;
        <% end %>
      </div>
  	</div>
  	<div class="clear"></div>
  </div>
</div>

<!-- Seasons -->
<%= render "seasons" %>

<!-- Comments -->
<%= render :partial => "shared/comments", :locals => { :comment_path => comment_show_path(@series), :comments => @series.comments } %>

<%= render :partial => "activity", :locals => { :series => @series } if current_user && @subscription %>
