<h1><%= @series.name %></h1>

<div id="series_avatar">
  <div>
    <% if @series.poster? %>
      <%= image_tag @series.poster.url(:medium) %>
    <% end %>
  </div>
  <div id="series_bar" style="">
    <ul>
      <% if !@subscription.nil? %>
        <li>
          <%= link_to (t '.remove_from_my_eight_pm_list'),
                      subscription_path(@subscription), :method => :delete, :class => "remove" %>
        </li>
      <% else %>
        <li>
          <%= link_to (t '.add_to_my_eight_pm_list'),
                      subscriptions_path(:series_id => @series.id), :method => :post, :class => "add" %>
        </li>
      <% end %>
      <li><%= link_to (t '.comments'), '#', :class => :comments %>
  </div>
</div>

<div id="series_info">
  <p id="series_overview"><%= @series.description %></p>
  <% if !@series.actors.size.zero? %>
  <div id="series_actors">
    <h3><%= t '.actors' %></h3>
    <ul>
    <% @series.roles.each do |role| %>
      <li>
        <%= role.name %><br />(<%= role.actor.name %>)
      </li>
    <% end %>
    </ul>
  </div>
  <% end %>
</div>
<div style="clear:left"></div>

<% if current_user && @subscription %>
<h2><%= t '.your-activity'%></h2>
<% end %>