<script type="text/javascript">
  function toggleLoading(from)
  {
    $("#ajax-loader").toggle();
  }
  var getSeasonsPath = "<%= get_seasons_show_path(@series) %>";
  var getPosterPath = "<%= get_poster_show_path(@series) %>";
  var posterIntervalID = null;
  var seasonsIntervalID = null;
  
  $(document).ready(function(){
    updateProcessingElements(posterIntervalID, "#poster.processing", getPosterPath);
    updateProcessingElements(seasonsIntervalID, "#series_seasons.processing", getSeasonsPath);
    
    $("div.handler-closed,div.handler-open").click(function(){
      var divContent = $(this).next('div.content');
      if (divContent.is(":hidden"))
      {
        divContent.slideDown('slow');
        $(this).removeClass('handler-closed');
        $(this).addClass('handler-open');
      }
      else
      {
        divContent.slideUp('slow');
        $(this).removeClass('handler-open');
        $(this).addClass('handler-closed');
      }
      
      return false;
    });
    $("a.check_box_empty,a.check_box_checked")
    .live("ajax:before", function(){
      $(this).children('img').show();
    })
    .live("ajax:success", function(jqXHR, data, textStatus){
      var thisId = $(this).attr('id');
      $(this).replaceWith(data);
      var thisElement = $("#" + thisId);
      var container = thisElement.parents("div.season_info"); 
      var checkBoxes = container.find("a.check_box");
      var checkBoxesChecked = container.find("a.check_box_checked");
      if (checkBoxes.length == checkBoxesChecked.length) {
        container.children("div.title").removeClass("handler-open").addClass("handler-closed");
        container.children("div.content").slideUp('slow');
      }
    })
    .live("ajax:complete", function(){
      $(this).children('img').hide();
    });
     
    $("img.description-added").tipsy();  
  });
</script>

<div class="left_articles">
  <div class="buttons">
	  <p>
	    <span id="comments_button">
	      <%= link_to "Comments (#{@series.comments.count})", :anchor => "comments" %>
	    </span>
	    <span id="watch_button">
	      <%= watch_button(@series) %>
	    </span>
	  </p>
	</div>
  <h2><%= @series.full_name %></h2>
	<p class="description"><%= people_watching_except_you(@series) %></p>
	<div id="series-<%= @series.id %>" class="series_info">
  	<div style="float:left;max-width:215px">
      <%= render "poster" %>
      <div class="clear"></div>
      <div style="border:1px solid #CCC;margin-top:5px;padding:5px;width:194px">
        <% description = truncate(@series.description, 300, "") %>
        <%= description %>
        <% if !@series.description.blank? && @series.description.length > description.length %>
          <%= link_to_function("...", "showMoreDescription(this);") %>
          <span style="display:none">
            <%= @series.description[(description.length)..-1] %>
          </span>
        <% end %>
      </div>
      <ul id="series_options" style="margin-top:5px">
        <li>Actors (<%= @series.actors.count %>)</li>
        <li>Seasons (<%= @series.seasons.count %>)</li>
      </ul>
  	</div>
  	<div style="float:left">
  	  <div id="latest_episodes">
        <p class="title">Last episodes unseen (<%= "#{@unseen_episodes.size}/#{@series.episodes.available.size}" %>):</p>
        <div class="latest_episodes">
          <% @unseen_episodes.last(3).each do |episode| %>
            <div class="last_episode">
              <%= link_to (image_tag(episode.poster.url(:small)) + 
                           content_tag(:span, episode.full_name + 
                           " (" + 
                           (l episode.first_aired, :format => :dmy_with_long_month) + 
                           ")", :style => "display:block"),
                          show_season_episode_path_(episode)) %>
            </div>
          <% end %>
          <div class="clear"></div>
        </div>
      </div>
      <% if @next_episode %>
      <div id="new_episode">
        <p style="text-align:left;">
          <span class="title">Next episode:</span><br />
          <% if @next_episode.poster.file? %>
          <%= (link_to (image_tag @next_episode.poster.url(:thumb)) + content_tag(:span, @next_episode.full_name, :style => "display:block"),
                       show_season_episode_path_(@next_episode)) %>
            <% else %>
            <%= link_to @next_episode.full_name, show_season_episode_path(:show_id => @series, :season_number => @next_episode.season.number, :episode_number => @next_episode.number) %>
            <br />
            <% end %>
             on <%= (l @series.next_episode.first_aired, :format => :dmy_with_long_month ) %>
             at <%= @series.air_time %>
          </p>
        </div>
        <% end %>
    	</div>
    	<div class="clear"></div>
    </div>
  </div>

  <div id="my_episodes">
    <% for season in @series.seasons %>
      <% season_seen = current_user.has_watched?(season) %>
      <div id="season_<%= season.number %>" class="season_info">
        <div class="title handler-<%= season_seen ? "closed" : "open" %>">
          <p class="title">
            <span class="handler"></span>
            <span class="text">Season <%= season.number %></span>
          </p>
        </div>
        <div class="content"<%= " style=\"display:none\"".html_safe if season_seen %>>
          <div class=""><%= link_to "I have seen the whole season", mark_season_path(season) %></div>
          <%= render :partial => "episode_my", :collection => season.episodes.available %>
        </div>
      <div class="clear"></div>
    </div>
  <% end %>
</div>

<!-- Seasons -->
<%#= render "seasons" %>

<!-- Comments -->
<a name="comments"></a>
<%= render :partial => "shared/comments", :locals => { :comment_path => comment_show_path(@series), :comments => @series.comments } %>
