<script type="text/javascript">
  $(document).ready(function(){
    $("#add_to_list_link,#remove_from_list_link").bind('ajax:loading',
      function(){
        $('#wait_spinner').show();
    });
  });
</script>

<h1><%= @series.name %></h1>

<div id="series_avatar">
  <div>
    <% if @series.poster? %>
      <%= image_tag @series.poster.url(:medium) %>
    <% end %>
  </div>
  <div id="series_bar" style="">
    <ul>
      <li>
        <%= render :partial => (@subscription.nil? ? "link_add" : "link_rm"),
                   :locals => { :series => @series }
        %>
      </li>
      <li><%= link_to (t '.comments'), '#', :class => :comments %></li>
    </ul>
  </div>
</div>

<div id="series_info">
  <p id="series_overview"><%= @series.description %></p>
  <% if !@series.actors.size.zero? %>
  <div id="series_actors">
    <h3><%= t '.actors' %></h3>
    <ul>
    <% @series.roles.each do |role| %>
      <li>
        <%= role.name %><br />(<%= role.actor.name %>)
      </li>
    <% end %>
    </ul>
  </div>
  <% end %>
</div>
<div style="clear:left"></div>

<% if current_user && @subscription %>
<h2><%= t '.your-activity'%></h2>
<% end %>