<script type="text/javascript">
  function toggleLoading(from)
  {
    $("#ajax-loader").toggle();
  }
  
  $(document).ready(function(){
    $("#comment_content").autoGrow();
    $("#new_comment")
        .bind("ajax:loading",  function(){
          $(this).find('.ajax-loader').toggle();
          $(this).find(":input").attr('disabled', 'disabled');
        })
        .bind("ajax:success", function(obj, data, xhr) {
          $(this).find(".error_messages").hide();
          $(data).insertAfter($("#series_comments").children("div.new-bubble"));
          $(this).find(":input").not(":submit").val('');
        })
        .bind("ajax:failure", function(data, xhr, err) {
          console.info(xhr.responseText);
          if (xhr.status == 403)
            $(this).find(".error_messages").html($(xhr.responseText)).show();
        })
        .bind("ajax:complete", function(){          
          $(this).find(":input").removeAttr('disabled');
          $(this).find('.ajax-loader').toggle();
        });
    
    window.setInterval(function(){
      $(".poster-processing").each(function(){
        var poster = $(this);
        var parentDiv = $(this).parents("div.series_info");
        $.ajax({
          url: "/shows/" + parentDiv.attr("id").split('-')[1] + "/get_poster",
          success: function(data){
            poster.html(data);
            poster.removeClass("poster-processing");
          }
        });
      });
    }, 2000);
  });
</script>

<div class="left_articles">
	<div class="buttons">
	  <p>
	    <a href="#" class="bluebtn">Watc</a>&nbsp;
	    <a href="#" class="greenbtn">Mark</a>
	  </p>
	</div>
	<div id="series-<%= @series.id %>" class="series_info">
	  <h2><%= @series.name %></h2>
  	<p class="description">
  	  <%= people_watching(@series) %>
  	</p>
  	<p>
      <%= poster_processing(@series) %>
      <div>
        <% description = truncate(@series.description, 795, "") %>
        <%= description %>
        <% if @series.description.length > description.length %>
          <%= link_to_function("...", "showMoreDescription(this);") %>
          <span style="display:none">
            <%= @series.description[(description.length)..-1] %>
          </span>
        <% end %>
      </div>
      <div>
        <span class="label"><%= t '.air_time'%>:</span>
        <%= @series.air_day %> <%= t '.at' %>
        <%= @series.air_time %> (<%= @series.runtime %> mn)
      </div>
      <div>
        <span class="label">Genres:</span>
        <% for genre in @series.genres %>
          <%= link_to genre.name, shows_genre_path(genre) %>&nbsp;
        <% end %>
      </div>
  	</p>
  	<div style="clear:both"></div>
  </div>
</div>

<!-- Comments -->
<div id="series_comments">
  <% if user_signed_in? %>
  <div class="bubble new-bubble">
    <%= form_for(@comment, :url => comment_show_path(@series), :remote => true) do |f| %>
		<blockquote>
		  <div class="error_messages" style="display:none"></div>
			<p class="comment-content">
			  <%= f.text_area :content, {:class => "no-focus", :cols => 85,
			                  :rows => 1, :placeholder => "Write your comment"} %>
			</p>
			<div class="buttons">
    	  <p style="margin-right">
    			<span class="ajax-loader" style="display:none">
    			  <%= image_tag "ajax-loader.gif" %>
    			</span>
    			&nbsp;<%= submit_tag "Comment", :class => "bluebtm" %>
    	  </p>
    	</div>
		</blockquote>
		<% end %>
  </div>
  <% end %>
  <%= render :partial => "comment", :collection => @series.comments %>
  <% for comment in @series.comments %>
  <% end %>
</div>


<div id="series_avatar">
  <div>
    
  </div>
  <div id="series_bar" style="">
    <ul>
      <li>
        <%= render :partial => (@subscription.nil? ? "link_add" : "link_rm"),
                   :locals => { :series => @series }
        %>
      </li>
      <li><%= link_to (t '.comments'), '#', :class => :comments %></li>
    </ul>
  </div>
</div>

<div id="series_info">
  <p id="series_overview"></p>
  <% if !@series.actors.size.zero? %>
  <div id="series_actors">
    <h3><%= t '.actors' %></h3>
    <ul>
    <% @series.roles.limit(12).each do |role| %>
      <li>
        <%= link_to role.name, show_actor_path(@series, role) %><br />
        (<%= link_to role.actor.name, actor_path(role.actor) %>)
      </li>
    <% end %>
    </ul>
    <div>
      <p style="margin-top:20px; text-align:right">
        <% if @series.roles.size > 12 %>
          <%= "and #{@series.roles.size - 12} more"  %>
        <% end -%>
        <%= link_to "See all actors", show_actors_path(@series) %>
      </p>
    </div>
  </div>
  <% end %>
  <div id="series_details">
    <p>
      
    </p>
  </div>
</div>
<div style="clear:left"></div>

<%= render :partial => "activity", :locals => { :series => @series } if current_user && @subscription %>
