<script type="text/javascript">
  function toggleLoading(from)
  {
    $("#ajax-loader").toggle();
  }
  var getSeasonsPath = "<%= get_seasons_show_path(@series) %>";
  var getPosterPath = "<%= get_poster_show_path(@series) %>";
  var getNextEpisodePath = "<%= get_next_episode_show_path(@series) %>";
  
  var posterIntervalID = null;
  var seasonsIntervalID = null;
    
  $(function(){
    updateProcessingElements(posterIntervalID, "#poster.processing", getPosterPath);
    updateProcessingElements(seasonsIntervalID, "#series_seasons.processing", getSeasonsPath);   

    var tab = $.getUrlVar('tab');

    var switchables = $(".switchable");

    if (tab !== "activity")
      switchables.not(":first").hide();
    else
    {
      switchables.not(":eq(1)").hide();

      var switcher = $('.switcher');
      var lis = switcher.find('li');

      lis.removeClass('selected');
      lis.eq(2).addClass('selected');
    }

    $(".switcher li a").click(function(){
      var switcher = $(this).parent('.switcher');
      var li = $(this).parent('li');
      
      li.siblings().removeClass('selected');
      li.addClass('selected');
      $('.switchable').hide();
      $('#' + $(this).attr('rel')).show();

      return false;
    })
    
    $("a.check_box").live("ajax:before", function(){
      $(this).children('img').show();
    })
    .live("ajax:complete", function(){
      $(this).children('img').hide();
    });
    
    
    $("a.check_season").live("ajax:success", function(jqXHR, data, textStatus){
      $(this).closest('div.season-info').replaceWith(data);
      updateNextEpisode();
    });
    
    $("a.check_episode").live("ajax:success", function(jqXHR, data, textStatus){
      $(this).replaceWith(data);
      updateNextEpisode();
    });
    
    function updateNextEpisode(){
      $.ajax({
        url:getNextEpisodePath,
        success:function(data){
          $("#next_episode").fadeOut(200, function(){
            $(this).replaceWith(data);
          });
        }
      });
    }
    $("a.season-link,a.episode-link").live('click', function(){
      $(this).closest('div.name').parent().siblings('div.slidable').slideToggle();
      return false;
    });
  });
</script>

<div class="left_articles">
  <div class="buttons">
	  <p>
	    <span id="comments_button">
	      <%= link_to "Comments (#{@series.comments.count})", :anchor => "comments" %>
	    </span>
	    <span id="watch_button"><%= watch_button(@series) %></span>
	  </p>
	</div>
  <h2><%= @series.full_name %></h2>
	<p class="description"><%= people_watching(@series) %></p>
	<div id="series-<%= @series.id %>" class="series_info">
      <%= render "poster" %>
      <div id="series_details">
        <div id="series_description">
          <% description = truncate(@series.description, 795, "") %>
          <%= description %>
          <% if !@series.description.blank? && @series.description.length > description.length %>
            <%= link_to_function("...", "showMoreDescription(this);") %>
            <span style="display:none">
              <%= @series.description[(description.length)..-1] %>
            </span>
          <% end %>
          <div class="air-time" style="margin-top:20px">
            <span class="label"><%= t '.air_time'%>:</span>
            <%= @series.air_day %> <%= t '.at' %>
            <%= @series.air_time %> (<%= @series.runtime %> mn)
          </div>
          <div class="genre" style="margin-top:20px">
            <span class="label">Genres:</span>
            <% for genre in @series.genres %>
              <%= link_to genre.name, genre %>&nbsp;
            <% end %>
          </div>
        </div>
  	  </div>
  	<div class="clear"></div>
  </div>
</div>

<div class="switcher">
  <ul>
    <li><%= link_to "Seasons (#{@series.seasons.size})", "#", :rel => "series_seasons" %></li>
    <li><%= link_to "Comments (#{@series.comments.size})", "#", :rel => "series_comments" %></li>
    <li><%= link_to "Episode Guide (#{@series.aired_episodes.size})", "#", :rel => "series_activity" %></li>
  </ul>
</div>

<!-- Switchables -->
<!-- Seasons -->
<%= render "seasons" %>

<!-- Comments -->
<a name="comments"></a>

<!-- Episodes -->
<%= render "episodes" %>

<%= render :partial => "shared/comments", :locals => { :comment_path => comment_show_path(@series), :comments => @series.comments, :klass => "switchable" } %>
